* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.logo img {
    ;
    width: 12rem;
}

#checkbox {
    display: none;
}

.container>.child {


    color: black;
    padding: 10px;
    font-size: 2rem;



}

i {
    font-size: 2rem;
    display: none;
    color: black;

}

i-1 {
    color: black;
    font-size: 2rem;
}

@media screen and (width <=600px) {
    i {
        display: block;
    }

    .child {
        display: none;

    }

    #checkbox:checked~.child {
        display: block;
    }



}

